div{
    font-family: 'Segoe UI', Calibri, sans-serif;
}

.main-content-container{
    width: 100%;
    height: 800px;
    background-color: transparent;
    border-radius: 20px;

    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* PROFILE */
.profile-container{
    height: 60%;
    width: 35%;
    border-radius: inherit;
    background-color: rgba(69, 68, 68, 0.3);
    
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-top: 10px;
    box-sizing: border-box;
}

.profile-top{
    height: 30%;
    width: 100%;
    border-radius: 20px;
    background-color: transparent;

    display: flex;
    align-items: center;

    padding: 20px 35px;
    box-sizing: border-box;
}

.profile-info-content-container{
    height: 100%;
    width: 70%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-main-pic{
    height: auto;
    width: 30%;
}

.top-profile-content{
    font-size: 22px;
    width: 100%;
    height: 40%;
    background-color: transparent;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    padding: 0 25px;
    box-sizing: border-box;
}

.bot-profile-content{
    font-size: 13px;
    height: 30%;
    width: 100%;

    background-color: transparent;
    display: flex;
    align-items: center;

    padding: 0 35px;
    box-sizing: border-box;
}

.profile-mid{
    font-size: 15px;
    font-weight: bold;
    height: 30%;
    width: 100%;
    border-radius: 20px;
    background-color: transparent;

    display: flex;
    flex-direction: column;

    padding: 0 15px;
    box-sizing: border-box;

    margin-bottom: 25px;
}

.profile-mid p{
    font-weight: bold;
}

.outside{
    padding-left: 10px;
}

.profile-bottom{
    height: 35%;
    width: 100%;
    border-radius: 20px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
}

.first-bottom {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 0 15px;
    background-color: transparent;
    margin-bottom: 25px;
}

.subject-top {
    background-color: transparent;
    margin: 0;
    padding: 0 0;
    font-size: 13px;
}

.subject {
    font-weight: bold;
    background-color: transparent;
    padding: 0 10px;
    margin: 0;
    font-size: 10px;
    line-height: 1.5;
}

.last-bottom {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 0 15px;
    background-color: transparent;
}

.education {
    background-color: transparent;
    margin: 0;
    padding: 0 0;
    font-size: 13px;
}

.educational-background {
    font-weight: bold;
    background-color: transparent;
    padding: 0 10px;
    margin: 0;
    font-size: 10px;
    line-height: 1.5;
}


/* FEEDBACK */
.feedback-container{
    width: 50%;
    height: 100%;
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    box-sizing: border-box;

    gap: 20px;
}

.feedback{
    width: 90%;
    height: 18%;
    border-radius: 40px;
    background-color: rgba(69, 68, 68, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    overflow: hidden;
}

.foot{
    height: 23%;
    width: 98%;
    border-radius: 10px;
    background-color: transparent;
}

.pic{
    height: auto;
    width: 18%;
    display: flex;
}

.message{
    width: 75%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-head{
    height: 20%;
    width: 100%;
    font-weight: lighter;
    background-color: transparent;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

p{
    font-weight: lighter;
    font-size: 10px;
}

/* FEEDBACK FOOTER*/

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
}

.foot-star-container{
    width: 100%;
    height: 35%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;

    padding-left: 20px;
    box-sizing: border-box;

    font-size: 35px;
    color: gold;
}

.message-container{
    height: 75%;
    width: 100%;
    background-color: transparent;
    padding: 0 20px;
    box-sizing: border-box;

    text-align: center;

    display: flex;
    align-items: center;
    justify-self: center;

    overflow: hidden;
}

.message-icon{
    height: auto;
    width: 20%;

    cursor: pointer;
}

.mess-icon{
    height: auto;
    width: 85px;
}

input{
    width: 95%;
    height: 80%;
    background-color: rgba(69, 68, 68, 0.3);

    border: none;
    border-radius: 35px;
}

input[type="text"]:focus{
    outline: none;
    border: none;
    font-size: large;
}

@media (max-width: 920px) {
    header {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .logo-container,
    .searchbar-container,
    .navbar-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .navbar-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .main-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .profile-container,
    .feedback-container {
        width: 90%;
        height: auto;
    }

    .profile-top,
    .top-profile-content,
    .bot-profile-content {
        width: 100%;
    }

    .profile-top {
        height: auto;
    }
}


@media (max-width: 480px) {
    .feedback-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        padding: 20px 10px;
    }

    .profile-info-content-container{
        height: auto;
        width: 100%;
    }

    .top-profile-content{
        height: 50px;
    }

    .profile-top{
        height: 100px;
        padding: 0 8px;
    }

    .feedback {
        padding: 10px 10px;
        flex-direction: column;
        box-sizing: border-box;
    }

    .message p{
        text-align: center;
    }

    .message-head{
        height: 10px;
    }

    .feedback-card .stars {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        flex-wrap: wrap;
    }

    .feedback-card img.profile-icon {
        width: 40px;
        height: 40px;
    }

    input{
    width: 95%;
    height: 35px;
    }

    .mess-icon{
        height: auto;
        width: 50px;
    }

    .feedback-card .name {
        font-weight: bold;
        font-size: 14px;
    }
    .floating-stars {
        display: none;
    }

    body {
        overflow-x: hidden;
    }
}
